@using FlightPlanner.Tools
@using FlightPlanner.Constants
@model FlightPlanner.ViewModels.FlightPlannerSimpleViewModel

<div class="row">
    @{
        var icao = new FormFields();
        icao.Value = Model.ICAODeparture;
        icao.Name = nameof(Model.ICAODeparture);
        icao.Caption = "ICAO Aeropuerto de Salida";
        icao.IsRequired = true;
        Html.RenderPartial(PartialRoutes.SHARED_TEMPLATE + DataTypes.ICAO, icao);
    }
    
    @{
        var airportName = new FormFields();
        airportName.Value = Model.DepartureAirportName;
        airportName.Name = nameof(Model.DepartureAirportName);
        airportName.Caption = "Nombre Aeropuerto de Salida";
        Html.RenderPartial(PartialRoutes.SHARED_TEMPLATE + DataTypes.AirportName, airportName);
    }
    
    @{
        var runway = new FormFields();
        runway.Value = Model.DepartureRunway;
        runway.Name = nameof(Model.DepartureRunway);
        runway.Caption = "Pista de Salida";
        Html.RenderPartial(PartialRoutes.SHARED_TEMPLATE + DataTypes.Runway, runway);
    }

    @{
        var baroPressure = new FormFields();
        baroPressure.Value = Model.BaroPressureDeparture;
        baroPressure.Name = nameof(Model.BaroPressureDeparture);
        baroPressure.Caption = "BARO del Aeropuerto de Salida";
        Html.RenderPartial(PartialRoutes.SHARED_TEMPLATE + DataTypes.BaroPressure, baroPressure);
    }
    
    @{
        var transitionAltitude = new FormFields();
        transitionAltitude.Value = Model.TransitionAltitudeDeparture;
        transitionAltitude.Name = nameof(Model.TransitionAltitudeDeparture);
        transitionAltitude.Caption = "Altitud de Transición de Salida";
        Html.RenderPartial(PartialRoutes.SHARED_TEMPLATE + DataTypes.TransitionAltitude, transitionAltitude);
    }
</div>