@model FlightPlanner.ViewModels.FlightPlannerSimpleViewModel

<div class="row">
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.NauticalMiles)" class="form-label">Distancia de Vuelo (NM)</label>
        <input type="number" class="form-control" style="background-color: lightyellow;" id="@nameof(Model.FlightSpecs.NauticalMiles)" value="@Model.FlightSpecs?.NauticalMiles" />
    </div>
</div>
