@page
@model Create

@{
    ViewData["Title"] = "Nuevo vuelo";
    Layout = "_Layout";
}

<h1>Nuevo vuelo</h1>

<hr />

<div class="row">
    <div class="col-md-3 mb-3">
        <label for="" class="form-label">Fecha de agenda</label>
        <input type="date" class="form-control" id="" value=""/>
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="" class="form-label">Tiempo estimado de vuelo - Horas</label>
        <input type="number" class="form-control" id="" value=""/>
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="" class="form-label">Tiempo estimado de vuelo - Minutos</label>
        <input type="number" class="form-control" id="" value=""/>
    </div>
</div>

<hr />

<div class="alert alert-primary" role="alert">
    Datos del aeropuerto de salida.
</div>

<div class="row">
    <div class="col-md-3 mb-3">
        <label for="" class="form-label">ICAO</label>
        <input type="text" class="form-control" id="" value=""/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="" class="form-label">Nombre Aeropuerto</label>
        <input type="text" class="form-control" id="" value=""/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="" class="form-label">BARO</label>
        <input type="number" class="form-control" id="" value=""/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="" class="form-label">Altitud de transici贸n</label>
        <input type="number" class="form-control" id="" value=""/>
    </div>
</div>

<hr />

<div class="alert alert-primary" role="alert">
    Datos del aeropuerto de llegada.
</div>

<div class="row">
    <div class="col-md-3 mb-3">
        <label for="" class="form-label">ICAO</label>
        <input type="text" class="form-control" id="" value=""/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="" class="form-label">Nombre Aeropuerto</label>
        <input type="text" class="form-control" id="" value=""/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="" class="form-label">BARO</label>
        <input type="number" class="form-control" id="" value=""/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="" class="form-label">Altitud de transici贸n</label>
        <input type="number" class="form-control" id="" value=""/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="" class="form-label">Elevaci贸n de pista</label>
        <input type="number" class="form-control" id="" value=""/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="" class="form-label">Altitud minima de aproximaci贸n</label>
        <input type="number" class="form-control" id="" value=""/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="" class="form-label">Localizador</label>
        <input type="number" class="form-control" id="" value=""/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="" class="form-label">Vector final ruedas de aterrizaje</label>
        <input type="text" class="form-control" id="" value=""/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="" class="form-label">Tipo de aterrizaje</label>
        <input type="text" class="form-control" id="" value=""/>
    </div>
</div>

<hr />

<button type="button" class="btn btn-success">Guardar</button>

<hr />




