@page
@model CreateModel

@{
    ViewData["Title"] = "Nuevo vuelo";
    Layout = "_Layout";
}

@section Scripts
{
    <script src="~/js/create-flight.js?v=2" asp-append-version="true"></script>
}

<h1>Nuevo vuelo</h1>

<hr />

<partial name="Partial/_GeneralCreate" model="Model.Record" />

<hr />

<div class="alert alert-primary" role="alert">
    Datos del aeropuerto de salida.
</div>

<partial name="Partial/_DepartureCreate" model="Model.Record" />

<hr />

<div class="alert alert-primary" role="alert">
    Datos del aeropuerto de llegada.
</div>

<partial name="Partial/_ArrivalCreate" model="Model.Record" />

<hr />

<div class="alert alert-primary" role="alert">
    Gestión de vuelo.
</div>

<partial name="Partial/_ManagementCreate" model="Model.Record" />

<hr />

@Html.FpSaveButton(OnClick: "flight_create.save()")

<hr />
