@page
@model Edit

@{
    ViewData["Title"] = "Editar vuelo";
    Layout = "_Layout";
}

@section Scripts
{
    <script src="~/js/edit-flight.js?v=2" asp-append-version="true"></script>
}

<h1>Editar vuelo</h1>

<input type="hidden" id="ID" value="@Model.Record.ID" />

<hr />

<partial name="Partial/_GeneralCreate" model="Model.Record" />

<hr />

<div class="alert alert-primary" role="alert">
    Datos del vuelo de salida.
</div>

<partial name="Partial/_DepartureCreate" model="Model.Record" />

<hr />

<div class="alert alert-primary" role="alert">
    Datos del vuelo de llegada.
</div>

<partial name="Partial/_ArrivalCreate" model="Model.Record" />

<hr />

<div class="alert alert-primary" role="alert">
    Gestión de vuelo.
</div>

<partial name="Partial/_ManagementCreate" model="Model.Record" />

<hr />

@Html.FpSaveButton(OnClick: "flight_edit.save()")

<hr />
